<div class="dashboard">
	<%= render 'layouts/other_header' %>
	<div class="container" id="dasboard_index">
		<%= render 'layouts/noti' %>
		<div class="page_more">
		</div>
		<div class="page_more">
		</div>
	</div>
</div>

<%= render 'pages/support_modal' %>