/*
 * 
 * by Phyo Min Htun @Ohdawood
 *		(PhyoLabs)
 *
 */

/* used in most part end */

body {
	
}

#myTAC {
	color: black;
	text-align: center;
}

#center {
	text-align: center;
}

.page_more {
	height: 300px;
}

.page_more_2 {
	height: 200px;
}

/* used in most part end */

/* Dashboard Start */
.dashboard {
	background-color: #252830;
	color: white;

	#dashboard_profile_pic {
		width: 100%;
		height: 100%;
		border-radius: 25%;
	}

	.glyphicon-off {
		color: red;
	}


	.modal_dashboard {
		color: black;
		text-align: center;
	}

	.jumbotron {
		background-color: transparent;
		border: 3px solid #10e795;

		a {
			text-decoration: none;
		}
	}

	#dasboard_index {
		padding-top: 70px; 
	}

	#brand-title {
		color: #12E092;
		padding-left: 0.2em;
		font-size: 2.5em;
		text-decoration: none;
		letter-spacing: -2px;
	}

	#beta_title {
		font-size: 10px;
		letter-spacing: 1px;
		
	}

	#navbar-dashboard {
		font-size: 16px;
		font-style: italic;
		font-weight: bolder;
	}

	#navbar-v-dashboard {
		font-size: 16px;
		button {
			background: #12E092;
			letter-spacing: 1px;
		}
		button:hover {
			background: #12E092;
			color: white;
			letter-spacing: 1px;
		}
		button:focus {
			background: #12E092;
			color: white;
			letter-spacing: 1px;
		}
		a {
			color: white;
			text-decoration: none;
		}
	}
}

.user_edit {
	background-color: #252830;
	color: white;

	.user_edit_jumbotron {
		background: -webkit-linear-gradient(#252830, #3A344F, #2F3655);
		max-width: 70%;
	}
}


/* Dashboard End */

/* Landing Page Start */

#beta_title {
	font-size: 10px;
	letter-spacing: 1px;
}

#landing_footer_logo {
	font-size: 30px;
	color: #43cea2;
	padding-right: 15px;
}

.landing_footer_text {
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
}

#footer_company {
	h4 {
		padding-left: 20px;
		padding-top: 10px;
	}

	a {
		text-decoration: none;
		font-size: 17px;
		color: white;
	}
}

#counter_design {
	border: 2px solid white;
	border-radius: 20px;
}

.welcome_text {
	padding-bottom: 20px;
	background: -webkit-linear-gradient(#43cea2, #43cea2, #f3f3f3);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}


.navbar-brand {
	font-size: 2em;
	font-weight: bolder;
	color: #43cea2;
	padding-top: 20px;
}

.navbar-brand:hover {
	color: #43cea2;
}

.navbar-brand:focus {
	color: #43cea2;
}

#collapsed_logo {
    color: #43cea2;
    font-size: 20px;
}

.navbar-nav_landing_page {
	float: right;
	padding-right: 20px;
}

.navbar-nav_landing_page li a {
	color: #43cea2;
	font-weight: bold;
}

.navbar-nav_landing_page li a:hover {
	background: transparent;
}

.navbar-nav_landing_page li a:focus {
	background: transparent;	
}

#landing_page {
	background: #252830;
	color: white;

	.jumbotron_tran {
		background-color: transparent;
	}

	#jumbotron_counter {
		background-color: transparent;
		border: 1.5px solid #f3f3f3;
		padding: 10%;
	}
}

#landing_page_footer {
	border-top: 1px white solid;
}

#landing_page_counter {
	background: -webkit-linear-gradient(#43cea2, #43cea2, #5bffcb);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;

}

.login_modal {
	color: black;
}

/* Landing Page End*/



/* Footer Start */

#footer {
	padding-bottom: 5px;
	font-size: 17px;
}

#footer_heart {
	float: right;
}

/* Footer End */

/* Devise Start */

.form_devise_login {
	background: #252830;
	color: white;

	.modal_dashboard {
		.modal-title {
			color: black;
			text-align: center;
		}
		.form-control {
			background-color: white;
			color: black;
		}
	}

	.form-control {
		background: #27263A;
		color: white;
	}

	a {
		text-decoration: none;
	}

	#login_form {
		background: -webkit-linear-gradient(#252830, #3A344F, #2F3655);
		padding: 60px;
		border-radius: 15px;
	}

	.jumbotron {
		background: transparent;
	}
}



/* Devise End */


/* Buttons Start 1aaff1 */

.btn-tranish {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: white 3px solid;
	color: #43cea2;
	text-decoration: inherit;
	font-size: 1.5em;
	font-weight: bold;
}

.btn-tranish:hover {
	color: #43cea2;
}

.btn-tranish:focus {
	color: #43cea2;
}

.btn-greenish2 {
	background-color: #43cea2;
	border: black 1px solid;
	color: white;
}

.btn-greenish2:hover {
	background-color: #43cea2;
	color: white;
}

.btn-greenish2:focus {
	background-color: #43cea2;
	color: white;
}

.btn-blackish {
	background-color: #313130;
	color: white;
}

.btn-blackish:hover {
	background-color: #1f1f1e;
	color: white;
}

.btn-blueish {
	background-color: #489bf8;
	color: white;
}

.btn-blueish:hover {
	background-color: #3793fa;
	color: white;
}

.btn-greenish {
	background-color: #10e795;
	color: white;
}

.btn-greenish:hover {
	background-color: #12e092;
	color: white;
}

.btn-redish {
	background-color: #fc4350;
	color: white;
}

.btn-redish:hover {
	background-color: #fb2a39;
	color: white;
}

.btn-brownish {
	background-color: #f3c834;
	color: white;
}

.btn-brownish:hover {
	background-color: #fbc60e;
	color: white;
}

/* Buttons End */