<hr>
<div class="container">
	<div id="footer">
		<b><span>&copy; Oyz.KR 2019</span></b>
		<span id="footer_heart">
			<small>Powered By</small> <!--<span class="glyphicon glyphicon-heart"></span>--> <a href="#"><b>PhyoStudio</b></a>
		</span>
	</div>
</div>