<hr>
<div class="container">
	<div id="footer">
		<b><span>&copy; Oyz.KR 2016</span></b>
		<span id="footer_heart">
			Made In <span class="glyphicon glyphicon-heart"></span> <b>Myanmar</b>
		</span>
	</div>
</div>