<hr>
<div class="container">
	<div id="footer">
		<b><span>&copy; Oye.LA 2016</span></b>
		<span id="footer_heart">
			Developed With <span class="glyphicon glyphicon-heart"></span> In <b>Myanmar</b>
		</span>
	</div>
</div>