<nav class="navbar">
  <div class="container-fluid container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href="<%= root_path %>">Oye.LA 
    <span class="label label-success" id="beta_title">Beta</span>
    </a>
    

    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-nav_landing_page">
        <li>
        	<a href="<%= login_path %>">LogIn</a>
        </li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>