<nav class="navbar">
  <div class="container-fluid container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href="<%= root_path %>">Oyz.KR
      <span class="label label-success" id="beta_title">Beta</span>
    </a>
    

    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-nav_landing_page">
        <li>
        	<a href="#" data-toggle="modal" data-target="#mySupport">Contact Us</a>
        </li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<!-- Modal -->
<div class="modal fade modal_dashboard" id="mySupport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Support <<span>/O</span>></h4>
      </div>
      <div class="modal-body">
        <%= form_for(Support.new) do |f| %>
          <div class="form-group">
            <%= f.text_field :email, class: "form-control", placeholder: "Email Address" %>
            <br>
            <%= f.text_area :description, class: "form-control", placeholder: "Write Your Question Here!" %>
          </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <button type="f.button" class="btn btn-block btn-greenish">Submit</button>
          </div>
          <% end %>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <button type="button" class="btn btn-block btn-redish" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>